*, *::after, *::before {
	box-sizing:border-box;
}

html {
	font-family: 'Inconsolata', 'Courier', monospace;
}

table {
	@media screen and (max-width: 480px) {
		width: 100%
	}

	td {
		padding: 0.2em 0.4em;

		&:nth-child(odd) {
			background: #eee;
			text-transform: lowercase;
		}
			&:nth-child(even) {
			background: #c3e9f2;
		}
	}
}
